
body {

    color: white;
    background: url("https://static.pexels.com/photos/116191/pexels-photo-116191.jpeg");
    background-size: 1800px 100px;
    background-repeat: no-repeat;
    padding-top: 40px;
}
}

h1 {
    color: navy;
    margin-left: 20px;
}
