
body {

    color: white;
    background: url("http://imgur.com/LBJBSzq");
    
    background-repeat: no-repeat;
    padding-top: 40px;
}
}



h1 { font-family: 'Orbitron', Arial, serif; font-weight: 400;
margin-left: 100px; }
